<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:sqlserver://localhost:1433</property>
        <property name="connection.username">habit</property>
        <property name="connection.password">Qwerty123,.</property>
        <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hbm2ddl.auto">create</property>


        <mapping class="ru.nsu.fit.neofr.entity.AppUserEntity"/>
        <mapping class="ru.nsu.fit.neofr.entity.HabitEntity"/>
        <mapping class="ru.nsu.fit.neofr.entity.HabitResourceEntity"/>
        <mapping class="ru.nsu.fit.neofr.entity.MeasureEntity"/>
        <mapping class="ru.nsu.fit.neofr.entity.MonthServerLogEntity"/>
        <mapping class="ru.nsu.fit.neofr.entity.ResourceEntity"/>
        <mapping class="ru.nsu.fit.neofr.entity.ServerLogEntity"/>
        <mapping class="ru.nsu.fit.neofr.entity.UserHabitEntity"/>
        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hbm2ddl.auto">update</property> -->
    </session-factory>

</hibernate-configuration>